---
layout: layouts/home.njk
---

<img class="right" src="/images/vera1.jpg" alt=""/>
<p>
  Dr. Hammersberg Vera Új szolgáltatással bővült a kínálatunk! Amennyiben kényes beavatkozásra van szükség vagy a kezeléssel járó fájdalom, kellemetlen érzés elkerülése a cél, lehetőség van ALTATÁSOS FOGÁSZATI BEAVATKOZÁS igénybe vételére. Egyeztetés és előzetes vizsgálat ügyében kérjen időpontot rendelőnkben telefonon! Várjuk szeretettel!<br/><br/>Vera Dent - Újpest - „A hely, ahonnan mindenki mosolyogva távozhat.”
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2692.548451326272!2d19.090086015628838!3d47.55711647918144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ed8383a440a4afe!2sDr.%20Hammersberg%20Vera%20FOGORVOS!5e0!3m2!1shu!2shu!4v1582873704611!5m2!1shu!2shu" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</p>