---
layout: layouts/home.njk
---

<h3>Üdvözlöm!</h3>

<img class="right" src="/images/vera_thumb.jpg" alt=""/>
<p>
  Dr. Hammersberg Vera fogszakorvos vagyok. Édesanyám nyomdokaiba lépve 2004-ben diplomáztam Budapesten a Semmelweis Egyetemen. A család újpesti magánrendelőjének köszönhetően rövid idő alatt komoly szakmai gyakorlatra tettem szert. 2007-ben szakvizsgáztam konzerváló fogászat és fogpótlástanból. Korszerűen felszerelt rendelőmbe szakértelemmel, korrekt árakkal és remek hangulatban várom betegeimet az Újpest Központtól gyalog is csupán néhány percre.<br/><br/>Vera Dent - Újpest - „A hely, ahonnan mindenki mosolyogva távozhat.”
</p>
