---
layout: layouts/home.njk
---

<h3>! Kedves Pácienseink !</h3>
<h3>HAMAROSAN NYITUNK!</h3>
<h4>A koronavírussal kapcsolatos új kormányrendelet lehetővé teszi, hogy újra fogadhassunk pácienseket, szigorú szabályok szerint. Az újraindítás feltételei nem teljesen tisztázottak, a háttérben folyamatosan dolgozunk a biztonságos környezet kialakításán. Kérjük továbbra is türelmüket, és megértésüket!
Várható nyitás június 3.!
Előzetes időpont foglalás addig kizárólag a <iframe src="idopont.fogaszat@gmail.com"</iframe> e-mailen lehetséges!
Kérjük az e-mail tartalmazza a nevüket, telefonszámukat, panaszuk leírását és egy körülbelüli időpont meghatározását, amire előjegyezhetjük! Minden esetben visszaigazoljuk az egyeztetett foglalást.</h4>
<h3>Üdvözlettel: Dr. Hammersberg Vera</h3>
<img class="right" src="/images/vera1.jpg" alt=""/>
<p>
  Dr. Hammersberg Vera fogszakorvos vagyok. Édesanyám nyomdokaiba lépve 2004-ben diplomáztam Budapesten a Semmelweis Egyetemen. A család újpesti magánrendelőjének köszönhetően rövid idő alatt komoly szakmai gyakorlatra tettem szert. 2007-ben szakvizsgáztam konzerváló fogászat és fogpótlástanból. Korszerűen felszerelt rendelőmbe szakértelemmel, korrekt árakkal és remek hangulatban várom betegeimet az Újpest Központtól gyalog is csupán néhány percre.<br/><br/>Vera Dent - Újpest - „A hely, ahonnan mindenki mosolyogva távozhat.”
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2692.548451326272!2d19.090086015628838!3d47.55711647918144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ed8383a440a4afe!2sDr.%20Hammersberg%20Vera%20FOGORVOS!5e0!3m2!1shu!2shu!4v1582873704611!5m2!1shu!2shu" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</p>
