---
layout: layouts/home.njk
---

<h3>Képek</h3>
<table id="pictable">
  <tbody>
    <tr>
      <td>
        <a class="thickbox" href="/gallery/rendelo.jpg" title="" rel="gallery-images"><img src="/gallery/DSC01856_thumb.jpg" alt="Putz Andrea asszisztensnõm"/></a>
      </td>
      <td>
        <a class="thickbox" href="/gallery/DSC01863.jpg" title="" rel="gallery-images"><img src="/gallery/DSC01863_thumb.jpg" alt="Putz Andrea asszisztensnõm"/></a>
      </td>
    </tr>
    <tr>
      <td>A rendelõ</td>
      <td>Putz Andrea asszisztensnõm</td>
    </tr>
    <tr>
      <td>
        <a class="thickbox" href="/gallery/DSC01869.jpg" title="" rel="gallery-images"><img src="/gallery/DSC01869_thumb.jpg" alt="Munka közben II."/></a>
      </td>
      <td>
        <a class="thickbox" href="/gallery/DSC01870.jpg" title="" rel="gallery-images"><img src="/gallery/DSC01870_thumb.jpg" alt="Munka közben II."/></a>
      </td>
    </tr>
    <tr>
      <td>Munka közben I.</td>
      <td>Munka közben II.</td>
    </tr>
    <tr>
      <td>
        <a class="thickbox" href="/gallery/DSC01875.jpg" title="" rel="gallery-images"><img src="/gallery/DSC01875_thumb.jpg" alt="Fizikai felkészülés Csehországban ..."/></a>
      </td>
      <td>
        <a class="thickbox" href="/gallery/DSC11647.jpg" title="" rel="gallery-images"><img src="/gallery/DSC11647_thumb.jpg" alt="Fizikai felkészülés Csehországban ..."/></a>
      </td>
    </tr>
    <tr>
      <td>Dolgozik a röntgen</td>
      <td>Fizikai felkészülés Csehországban ...</td>
    </tr>
    <tr>
      <td>
        <a class="thickbox" href="/gallery/Overplay013.jpg" title="" rel="gallery-images"><img src="/gallery/Overplay013_thumb.jpg" alt=""/></a>
      </td>
    </tr>
    <tr>
      <td>... és Alagon</td>
      <td></td>
    </tr>
  </tbody>
</table>
