---
layout: layouts/home.njk
---

<h3>Árlista</h3>
<ul>
  <li>Fogászati ellenőrzés, kezelési terv készítés: 7000 Ft (rendszeresen, 1 éven belül díjtalan)</li>
  <li>Fogeltávolítás: 15000-25000 Ft </li>
  <li>Fogkő eltávolítás: 15000-22000 Ft (érzéstelenítéssel: +4000 Ft)</li>
  <li>Gyökértömés gépi gyökércsatorna tágítóval (nem tartalmazza a fedőtömés árát):
    <ul>
      <li>1 gyökerű fog: 23000 Ft</li>
      <li>2 gyökerű fog: 34000 Ft</li>
      <li>3 gyökerű fog: 45000 Ft</li>
      <li>4 gyökerű fog: 50000 Ft</li>
    </ul>
  </li>
  <li>Ideiglenes gyökértömés (alkalmanként):
    <ul>
      <li>1 gyökerű fog: + 10000 Ft</li>
      <li>2 gyökerű fog: + 13000 Ft</li>
      <li>3 gyökerű fog: + 15000 Ft</li>
      <li>4 gyökerű fog: + 18000 Ft</li>
    </ul>
  </li>
  <li>Esztétikus tömés, fedőtömés: 15000-25000 Ft</li>
  <li>Gyógyszeres alábélelés: +2000-4000 Ft </li>
  <li>Íny kauterezése +5000 Ft </li>
  <li>Esztétikus betét (inlay, onlay): 58000 Ft</li>
  <li>Amalgám tömés: 15000-20000 Ft</li>
  <li>Ideiglenes tömés: +5000-10000 Ft</li>
  <li>Tejfog tömés: 10000-15000 Ft</li>
  <li>Tejfog eltávolítás: 8000 Ft</li>
  <li>Barázdazárás: 15000 Ft</li>
  <li>Alsó/felső sín: 20000 Ft</li>
  <li>Fogfehérítés: 70000 Ft</li>
  <li>4-es fehérítő készlet: 20000 Ft</li>
  <li>8-as fehérítő készlet: 30000 Ft</li>
  <li>Gyökérkezelt fog fehérítése: 20000-25000 Ft (ár a fedőtömést nem tartalmazza)</li>
  <li>Fogékszer: 25000 Ft</li>
  <li>Korona átvágása: 7000 Ft/db</li>
  <li>Ideiglenes korona, hídtag (rendelői): 7000 Ft</li>
  <li>Technikus által készített ideiglenes korona, hídtag: 10000 Ft</li>
  <li>Ideiglenes korona, hídtag (technikus által készített, hosszú távú, PMMA): 15000 Ft</li>
  <li>Porcelán korona, hídtag: 45000 Ft</li>
  <li>Cirkon korona, hídtag: 78000 Ft</li>
  <li>Öntött csapcsonk: 23000 Ft</li>
  <li>Üvegszálas csapcsonk: 20000 Ft (2 db: 30000 Ft) +csonkfelépítés 15000-20000 Ft</li>
  <li>Részleges kivehető fogsor: Árajánlat szerint</li>
  <li>Fémlemezes fogsor: Árajánlat szerint</li>
  <li>Teljes kivehető pótlás: 130000 Ft / alsó vagy felső</li>
  <li>Harapás regisztrálása: 60000 Ft</li>
  <li>Fogsorjavítás: 17000 Ft</li>
</ul>

<div style="padding: 20px; float: right;">Dr Mezei Márta<br/>Dr Hammersberg Vera</div>
<div style="padding: 20px; float: left;">
  <i>2024. július</i>
</div>
