h3
  | Képek
table#pictable
  tbody
    tr
      td
        a.thickbox(href='/gallery/DSC01856.jpg', title='', rel='gallery-images')
          img(src='/gallery/DSC01856_thumb.jpg', alt='Putz Andrea asszisztensnõm')
      td
        a.thickbox(href='/gallery/DSC01863.jpg', title='', rel='gallery-images')
          img(src='/gallery/DSC01863_thumb.jpg', alt='Putz Andrea asszisztensnõm')
    tr
      td
        | A rendelõ
      td
        | Putz Andrea asszisztensnõm
    tr
      td
        a.thickbox(href='/gallery/DSC01869.jpg', title='', rel='gallery-images')
          img(src='/gallery/DSC01869_thumb.jpg', alt='Munka közben II.')
      td
        a.thickbox(href='/gallery/DSC01870.jpg', title='', rel='gallery-images')
          img(src='/gallery/DSC01870_thumb.jpg', alt='Munka közben II.')
    tr
      td
        | Munka közben I.
      td
        | Munka közben II.
    tr
      td
        a.thickbox(href='/gallery/DSC01875.jpg', title='', rel='gallery-images')
          img(src='/gallery/DSC01875_thumb.jpg', alt='Fizikai felkészülés Csehországban ...')
      td
        a.thickbox(href='/gallery/DSC11647.jpg', title='', rel='gallery-images')
          img(src='/gallery/DSC11647_thumb.jpg', alt='Fizikai felkészülés Csehországban ...')
    tr
      td
        | Dolgozik a röntgen
      td
        | Fizikai felkészülés Csehországban ...
    tr
      td
        a.thickbox(href='/gallery/Overplay013.jpg', title='', rel='gallery-images')
          img(src='/gallery/Overplay013_thumb.jpg', alt='')
    tr
      td
        | ... és Alagon
      td
