h3
  | Árlista
p Árlista frissítés alatt, hamarosan elérhető.
ul
  li Fogászati ellenőrzés, kezelési terv készítés: 3000 Ft (rendszeresen, 1 éven belül díjtalan)
  li Fogeltávolítás: 7000-15000 Ft
  li Fogkő eltávolítás: 7000-10000 Ft (érzéstelenítéssel: +2000 Ft)
  li
    | Gyökértömés gépi gyökércsatorna tágítóval (nem tartalmazza a fedőtömés árát):
    ul
      li 1 gyökerű fog: 15000 Ft
      li 2 gyökerű fog: 20000 Ft
      li 3 gyökerű fog: 30000 Ft
      li 4 gyökerű fog: 35000 Ft
  li
    | Ideiglenes gyökértömés (alkalmanként):
    ul
      li 1 gyökerű fog: + 5000 Ft
      li 2 gyökerű fog: + 6000 Ft
      li 3 gyökerű fog: + 7000 Ft
      li 4 gyökerű fog: + 8000 Ft
  li Esztétikus tömés, fedőtömés: 10000-16000 Ft
  li Esztétikus betét (inlay, onlay): 40000 Ft
  li Amalgám tömés: 8000-12000 Ft
  li Tejfog tömés: 5000-10000 Ft
  li Ideiglenes tömés: +3000-5000 Ft
  li Alsó/felső sín: 15000 Ft
  li Fogfehérítés: 55000 Ft
  li 4-es fehérítő készlet: 12000 Ft
  li 8-as fehérítő készlet: 24000 Ft
  li Gyökérkezelt fog fehérítése: 15000-20000 Ft
  li Fogékszer: 10000 Ft
  li Korona átvágása: 3000 Ft/db
  li Ideiglenes korona, hídtag (rendelői): 2000 Ft
  li Technikus által készített ideiglenes korona, hídtag: 7000 Ft
  li Porcelán korona, hídtag: 30000 Ft
  li Cirkon korona, hídtag: 55000 Ft
  li Csapcsonk: 15000
  li Részleges kivehető fogsor: 5500 Ft / 1 fog (+5000 Ft / 1db kapocs)
  li Fémlemezes fogsor: 5500 Ft / 1 fog + 40000 Ft + kapocs vagy rejtett elhorgonyzás
  li Teljes kivehető pótlás: 85000 Ft / alsó vagy felső
  li Fogsorjavítás: 10000 Ft
div(style='padding: 20px; float: right;')
  | Dr Mezei Márta
  br
  | Dr Hammersberg Vera
div(style='padding: 20px; float: left;')
  i 2019. február
