h3
  | Árlista
ul
  li Fogászati ellenőrzés: díjtalan
  li Fogeltávolítás: 5000-7000 Ft
  li Fogkőeltávolítás: 5000-7000 Ft
  li
    | Gyökértömés gépi gyökércsatorna tágítóval (nem tartalmazza a fedőtömés árát):
    ul
      li 1 gyökerű fog: 10000 Ft
      li 2 gyökerű fog: 14000 Ft
      li 3 gyökerű fog: 21000 Ft
      li 4 gyökerű fog: 28000 Ft
  li Ideiglenes gyökértömés: +3000 Ft
  li Esztétikus tömés, fedőtömés: 8000-14000 Ft
  li Esztétikus betét (inlay, onlay): 27000 Ft
  li Amalgám tömés: 6000-7000 Ft
  li Fogfehérítés: 45000 Ft
  li Gyökérkezelt fog fehérítése: 15000-20000 Ft
  li Fogékszer: 10000 Ft
  li Porcelán korona, hídtag: 25000 Ft
  li Csapcsonk: 10000 Ft
  li Részleges kivehető fogsor: 4500 Ft / 1 fog (+2800 Ft / 1db kapocs)
  li Fémlemezes fogsor: 4500 Ft / 1 fog + 30000 Ft + kapocs
  li Teljes kivehető pótlás: 67000 Ft / alsó vagy felső
  li Fogsor javítás: 5000 Ft
  li Technikus által készített ideiglenes korona vagy hídtag: 6000 Ft
div(style='padding: 20px; float: right;')
  | Dr Mezei Márta
  br
  | Dr Hammersberg Vera
div(style='padding: 20px; float: left;')
  i 2014. Január
